One-Hot Encoding

En aprendizaje automático, one-hot es un grupo de bits entre los cuales las combinaciones legales de valores son solo aquellas con un solo bit alto (1) y todas las demás bajas (0). Una implementación similar en la que todos los bits son '1', excepto uno '0', a veces se llama one-cold. En estadística, las variables dummyt representan una técnica similar para representar datos categóricos.

Ejemplo:

![bin-grey-onehot.png]()

In [1]:
#Ejemplo practico

import csv
import pandas as pd
import numpy as np

In [2]:
import string
punctuation = set(string.punctuation)
#Esta funcion devuelve un arreglo de cadenas sin signos de puntuacion y en minusculas
def tokenize(sentence):
    tokens = []
    for token in sentence.split():
        new_token = []
        for character in token:
            if character not in punctuation:
                new_token.append(character.lower())
        if new_token:
            tokens.append("".join(new_token))
    return tokens

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

demo_vectorizer = CountVectorizer(
    tokenizer = tokenize,
    binary=True
)

In [10]:
examples = ["Rojo",
            "Azul?",
            "verde",
            "Amarillo",
            "Celeste",
            "Negro",
            "Blanco",
            "azul"]
            
demo_vectorizer.fit(examples)
vectors = demo_vectorizer.transform(examples).toarray()

/usr/local/lib/python3.6/dist-packages/sklearn/feature_extraction/text.py:507: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn("The parameter 'token_pattern' will not be used"

In [11]:
headers = sorted(demo_vectorizer.vocabulary_.keys())
pd.DataFrame(vectors, columns=headers)

   amarillo  azul  blanco  celeste  negro  rojo  verde
0         0     0       0        0      0     1      0
1         0     1       0        0      0     0      0
2         0     0       0        0      0     0      1
3         1     0       0        0      0     0      0
4         0     0       0        1      0     0      0
5         0     0       0        0      1     0      0
6         0     0       1        0      0     0      0
7         0     1       0        0      0     0      0